.accessToManyPages{
    .slick-prev{
        left: 10px;
        z-index: 1;
        &::before{
            content:'';
            background-image: url(./assets/images/Seta_Esquerda.png);
            height: 25px;
            width: 25px;
            display: block;
            background-repeat: no-repeat;
        }
    }
    .slick-next{
        right: 0px;
        z-index: 1;
        &::before{
            content:'';
            background-image: url(./assets/images/Seta_Direita.png);
            height: 25px;
            width: 25px;
            display: block;
            background-repeat: no-repeat;
        }
    }
    .slick-dots {
        bottom: 58px;
    }
}

@media(min-width: 720px){
    .accessToManyPages{
        .classTitleTextBtn--text{
            width: 80%;
        }
    }
}
@media(min-width: 720px){
    .accessToManyPages{
        width: 100%;
        .slick-prev{
            left: 50px;
        }
        .slick-next{
            right: 50px;
        }
    }
}